<h1>My Portfolio</h1>

<div class="search-area">
  <h3>Search Stocks</h3>
  <%= form_with url: search_stock_path, method: :get do |f| %>
    <div class="form-group row">
      <div class="col-sm-9 no-right-padding">
        <%= f.text_field :stock, placeholder: 'Stock ticker symbol', 
                                 autofocus: true, 
                                 class: 'form-control form-control-lg' %>
      </div>
      <div class="col-sm-3 no-left-padding">
        <%= f.button :submit, class: 'btn btn-success'  do %>
          <%= fa_icon 'search 2x' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<% if @stock %>
  <div class="car card-header results-block">
    <strong>Symbol: </strong> <%= @stock.ticker %>
    <strong>Name: </strong> <%= @stock.name %>
    <strong>Price: </strong> <%= @stock.last_price %>
  </div>
<% end %>